@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: hsl(219, 43%, 16%);
    --dimgray: hsl(218, 20%, 36%);
    --linen: hsl(30, 33%, 93%);
    --whitesmoke: hsl(30, 29%, 97%);
    --medium-slate-blue: hsl(264, 100%, 69%);
    --dark-orchid: hsl(292, 76%, 54%);
    --sandy-brown: hsl(31, 100%, 65%);
}

body{
    background-color: var(--whitesmoke);
    font-family: "Epilogue", sans-serif;
}

.rs-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    position: relative;
    right: 1rem;
}

.btn {
    border-radius: 0.313rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    width: 13.688rem;
}

.btn-request-1 {
    border: 1px solid var(--black);
    color: var(--black);
}

.btn-request-1:hover{
    background-color: var(--black);
    color: var(--linen);
}

.btn-request-2 {
    background-color: var(--black);
    color: var(--linen);
    position: relative;
    left: 7rem;
}

.btn-request-2:hover{
    background: linear-gradient(150deg, hsl(292, 76%, 54%) 0%, hsl(31, 100%, 65%) 100%);
}

.solutions-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solutions-row h1{
    color: var(--black);
    font-size: 4.5rem;
    font-weight: 400;
    width: 40.688rem;
    margin-bottom: 1.5rem;
    position: relative;
    left: 7rem;
}

.solutions-row h2{
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.solutions-row p{
    color: var(--dimgray);
    line-height: 1.5rem;
    width: 21.875rem;
    margin-bottom: 4rem;
    position: relative;
    left: 7rem;
}


.solutions-row span{
    font-weight: bold;
}

.curve-1 {
    position: relative;
    left: 26rem;
    width: 17.938rem;
}

.hero-portrait{
    position: relative;
    top: 3rem;
    right: 3.5rem;
    z-index: -5;
}

.business-box {
    position: relative;
    left: 8rem;
    
}

.business-box p{
    color: var(--dimgray);
    position: relative;
    left: 0;
}
.testimonial-content-row {
    background-image: url(../assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 34.063rem;
    width: 69.313rem;
    border-radius: 0.625rem;
    position: relative;
    top: 18rem;
}

.testimonial-content-row h3{
    color: var(--linen);
    font-size: 3rem;
    font-weight: 400;
}

.testimonial-content-row span{
    font-weight: bold;
}

.testimonial-content-row p {
    color: var(--linen);
    width: 21.875rem;
    line-height: 1.5rem;
}

.testimonial-content-row small{
    color: var(--whitesmoke);
}

.testimonial-img {
    position: relative;
    top: -1.3rem;
}

.hero-landscape{
    display: none;
}

.curve-2 {

}

footer{
    background-color: var(--linen);
    height: 29rem;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Tablet Styles */
@media(max-width: 64rem) {
    .testimonial-content-row{
        flex-direction: column;
        width: 43.063rem;
    }

    .hero-landscape{
        display: none;
    }

    footer{
        width: 48rem;
    }
}

/* Mobile Styles */
@media(max-width: 48rem) {

    .hero-landscape{
        display: block;
    }
    .solutions-row{
        flex-direction: column;
    }

    .solutions-row h1{
        font-size: 2.375rem;
        width: 21.438rem;
    }

    .testimonial-content-row {
        flex-direction: column;
        width: 23.438rem;
    }

    .hero-portrait{
        display: none;
    }

    footer{
        width: 23.563rem;
        height: 26.25rem;
    }
}