@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 3px solid red; */
}

:root {
    --black: hsl(219, 43%, 16%);
    --dimgray: hsl(218, 20%, 36%);
    --linen: hsl(30, 33%, 93%);
    --whitesmoke: hsl(30, 29%, 97%);
    --medium-slate-blue: hsl(264, 100%, 69%);
    --dark-orchid: hsl(292, 76%, 54%);
    --sandy-brown: hsl(31, 100%, 65%);
}

body {
    background-color: var(--whitesmoke);
    font-family: "Epilogue", sans-serif;
    max-width: 100%;
    width: 100%;
}

.rs-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    position: relative;
    right: 1rem;
}

.btn {
    border-radius: 0.313rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    width: 13.688rem;
}

.btn-request-1 {
    border: 1px solid var(--black);
    color: var(--black);
}

.btn-request-1:hover {
    background-color: var(--black);
    color: var(--linen);
}

.btn-request-2 {
    background-color: var(--black);
    color: var(--linen);
    position: relative;
    left: 7rem;
}

.btn-request-2:hover {
    background: linear-gradient(150deg, hsl(292, 76%, 54%) 0%, hsl(31, 100%, 65%) 100%);
}

.solutions-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solutions-row h1 {
    color: var(--black);
    font-size: 4.5rem;
    font-weight: 400;
    width: 40.688rem;
    margin-bottom: 1.5rem;
    position: relative;
    left: 7rem;
}

.solutions-row h2 {
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.solutions-row p {
    color: var(--dimgray);
    line-height: 1.5rem;
    width: 21.875rem;
    margin-bottom: 4rem;
    position: relative;
    left: 7rem;
}


.solutions-row span {
    font-weight: bold;
}

.curve-1 {
    position: relative;
    left: 26rem;
    width: 17.938rem;
}

.hero-portrait {
    position: relative;
    top: 3rem;
    right: 3.5rem;
    z-index: -5;
}

.business-box {
    position: relative;
    left: 3rem;

}

.business-box p {
    color: var(--dimgray);
    position: relative;
    left: 0;
}

.testimonial-content-row {
    background-image: url(../assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 34.063rem;
    width: 69.313rem;
    max-width: 100%;
    border-radius: 0.625rem;
    position: relative;
    top: 18rem;
}

.testimonial-content-row h3 {
    color: var(--linen);
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    top: -2rem;
}

.testimonial-content-row span {
    font-weight: bold;
}

.testimonial-content-row p {
    color: var(--linen);
    width: 21.875rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.testimonial-content-row,
p.testimonial-name {
    color: var(--whitesmoke);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.testimonial-content-row,
small.testimonial-company {
    color: var(--linen);
    font-weight: 300;
}

.testimonial-img {
    position: relative;
    top: -1.3rem;
}

.hero-landscape {
    display: none;
}

footer {
    background-color: var(--linen);
    height: 29rem;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.icon-social {
    cursor: pointer;
    margin: 0 15px;
}

.icon-social:hover {
    fill: var(--dimgray);
}

/* Tablet Styles */
@media(max-width: 64rem) {
    .solutions-row {
        flex-wrap: wrap;
    }

    .testimonial-content-row {
        flex-direction: column;
        height: 42.75rem;
        width: 90%;
    }

    .testimonial-content-row h3 {
        font-size: 2.5rem;
    }

    .hero-landscape {
        display: none;
    }

    .business-box {
        display: flex;
        align-items: end;
        position: relative;
        top: 10rem;
        left: 0rem;
        text-align: center;
    }

    footer {
        width: 100%;
    }
}

/* Mobile Styles */
@media(max-width: 25.75rem) {
    .logo {
        position: relative;
        right: 0rem;
        top: 1rem;
    }

    .curve-1 {
        position: relative;
        left: 10rem;
        top: 2rem;
        width: 9.467rem;
    }

    .btn-request-1{
        width: 11.375rem;
        position: relative;
        top: 1.2rem;
    }

    .btn-request-2 {
        position: relative;
        left: 0;
        top: 0;
    }

    .hero-landscape {
        display: block;
        position: relative;
        top: 2rem;
    }

    .solutions-row h1 {
        position: relative;
        left: 0;
        top: 2rem;
    }

    .business-box {
        flex-direction: column;
        text-align: center;
        left: 0;
        top: 4rem;
    }

    .solutions-row p {
        position: relative;
        left: 0;
        top: 1.5rem;
    }

    .solutions-row {
        flex-direction: column;
        justify-content: space-between;
    }

    .solutions-row h1 {
        font-size: 2.375rem;
        width: 21.438rem;
    }

    .testimonial-content-row {
        flex-direction: column;
        width: 23.438rem;
        height: 36.75rem;
        top: 2rem;
    }

    .testimonial-content-row h3 {
        top: -21rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .curve-2 {
        position: relative;
        top: -15rem;
    }

    .testimonial-content-row p {
        top: -17rem;
        text-align: center;
        position: relative;
        width: 21.438rem;
    }

    .testimonial-img {
        width: 100%;
        height: 50%;
    }

    .hero-portrait {
        display: none;
    }

    footer {
        width: 23.563rem;
        height: 26.25rem;
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-direction: column;
    }

    .curve-2 {
        width: 3.079rem;
    }

    .icon-social {
        justify-content: space-around;
        margin: 30px 14px;
    }
}